@import "tailwindcss";

/* 分割されたCSSファイルをインポート */
@import "./styles/variables.css";
@import "./styles/utilities.css";
@import "./styles/components.css";
@import "./styles/animations.css";
@import "./styles/mdx.css";
@import "./styles/math.css";

body {
  background-color: var(--background);
  color: var(--foreground);
}
